@media (max-width: 1775px) {
}
@media (max-width: 1550px) {

}
@media (max-width: 1550px) {

}
@media (max-width: 1410px) {

}
@media (max-width: 1220px) {
	.b-item span{
		letter-spacing: -0.8px;
		font-size: 13px;
	}
	.b-structure-user__img{
		width: 30px;
		height: 30px;
	}
}

@media (max-width: 1199px) {
	.b-footer-form__left{
		width: 240px;
	}
	.b-main-content{
		flex-wrap: wrap;
	}
	.b-main-col{
		width: 50%;
		margin-bottom: 10px;
	}
	.b-main-col:last-child{
		width: 100%;
	}
	.b-program-item{
		height: 135px;
	}
	.b-structure-item__text b{
		font-size: 11px;
		line-height: 13px;
	}
	.b-structure-item__text span{
		font-size: 12px;
		line-height: 15px;
	}
	.b-agents-item{
		margin: 0 10px 0 0;
		padding: 0 10px 0 0;
	}
	.b-structure-item__wrap{
		margin: 0 0 0 5px;
	}
	.b-structure-user{
		display: block;
	}
	.b-structure-user__img{
		margin:0 auto 15px;
	}
	.b-structure-item__btn{
		width: 70px;
		font-size: 12px;
		line-height: 14px;
	}
	.b-structure-contacts__item b{
		font-size: 11px;
	}
	.b-structure-item__block b{
		font-size: 12px;
	}
	.b-contract-row__4 {
	    margin: 0 74px 0 0;
	}
	.b-stock-item{
	    border: 1px solid #e8e8e8;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    border-radius: 8px;
	    padding: 8px;
	}
	.b-stock-item .b-news-item__content{
		position: static;
		max-width: inherit;
		padding: 0;
		margin: 0 0 10px 0;
	}
	.b-stock-item:before{
		display: none;
	}
	.b-stock-item .b-news-item__content b, .b-stock-item .b-news-item__date span, .b-stock-item .b-news-item__content p{
		color: #000;
	}	
	.b-stock-item .b-news-item__date__ico{
	    background: url(../images/calendar.svg) no-repeat;
	}
	.b-news-item__content__wrap{
		position: static;
	}	
}	


@media (max-width: 991px){
	.b-container{
		display: block;
	}
	.b-content{
		position: relative;
		z-index: 4;
	}
	.b-logo{
		display: none;
	}
	.b-header{
		padding: 10px 15px;
	}
	.b-header .b-logo{
		display: flex;
		margin: 0 10px 0 0;
	}
	.b-header .b-logo__left span{
		color: #000000;
	}
	.b-header-left{
		display: none;
	}

	.container {
	    max-width: 100%;
	}	
	.b-mobile{
		display: block;
		margin: 0 0 0 20px;
	}
	.menu-icon{
	    position: relative;
	    z-index: 10001;
	    cursor: pointer;
		transition: 0.3s;
		top: 0;
	}
	.menu-icon.active{
		transition: 0.3s;
		z-index: 1000;
	}
	.menu-icon__wrapper{
		position: relative;
		width: 30px;
		height: 18px;
	}
	.menu-icon.active b{
		transition: 0.5s;
	}
	.menu-icon .b-menu__line {
	    display: block;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 2px;
	    background: #000000;
	    -webkit-transition: background-color 0.35s, -webkit-transform 0.175s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	    transition: background-color 0.35s, transform 0.175s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.175s cubic-bezier(0.215, 0.61, 0.355, 1);
	    -webkit-transform: translateY(0) translateZ(0);
	    transform: translateY(0) translateZ(0);
	    border-radius: 120px;
	}
	.menu-icon .b-menu__line_1 {
	    top: 0;
	}
	.menu-icon .b-menu__line_2 {
	    top: 8px;
	}
	.menu-icon .b-menu__line_3 {
	    top: 15px;
	    width: 60%;
	}
	.menu-icon.active .b-menu__line {
	    background: #000000;
	}
	.menu-icon.active .b-menu__line_1 {
	    -webkit-transform: translateY(8px) rotate(45deg);
	    transform: translateY(8px) rotate(45deg);
	    top: 0px;
	}
	.menu-icon.active .b-menu__line_2 {
	    opacity: 0;
	}
	.menu-icon.active .b-menu__line_3 {
	    -webkit-transform: translateY(-8px) rotate(-45deg);
	    transform: translateY(-8px) rotate(-45deg);
	    top: 16px;
	    width: 100%;
	}
	.b-aside{
		position: fixed;
		top: 50px;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		padding: 10px 0 25px 0;
		overflow: auto;
		z-index: -1;
		visibility: hidden;
		opacity: 0;
		transition: 0.3s;		
	}
	.b-aside.active{
		z-index: 50;
		visibility: visible;
		opacity: 1;
		transition: 0.3s;
	}
	.b-aside-container{
		display: block;
	}
	.b-nav ul li a{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-align: left;
		padding: 10px 15px;
	}
	.b-footer-form{
		width: 65%;
	}
	.b-footer-form__content{
		display: block;
	}
	.b-footer-form__left{
		width: 100%;
		margin: 0 0 10px 0;
	}
	.b-footer-textarea{
		width: 100%;
	}	
	.b-nav-ico{
		margin: 0 10px 0 0;
	}
	.b-nav ul li a p{

	}
	.b-aside-bottom{
		margin: 30px 0 0 0;
	}
	.b-aside-kurs{
		padding: 0 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.b-aside-kurs__top{
		text-align: left;
		margin: 0 0 13px 0;
	}
	.b-aside-kurs__wrap{
		text-align: left;
	}
	.b-agents-btn{
		width: 130px;
	}
	.b-structure-top__left{
		padding: 0 15px 0 0;
		margin: 0 15px 0 0;
	}
	.b-structure-top__right__top b{
		font-size: 12px;
	}
	.b-structure-item__btn:after{
		right: 7px;
	}
	.b-guide-col{
		width: 25%;
	}
	.b-stock-item{
	    border: 1px solid #e8e8e8;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    border-radius: 8px;
	    padding: 8px;
	}
	.b-stock-item .b-news-item__content{
		position: static;
		max-width: inherit;
		padding: 0;
		margin: 0 0 10px 0;
	}
	.b-stock-item:before{
		display: none;
	}
	.b-stock-item .b-news-item__content b, .b-stock-item .b-news-item__date span, .b-stock-item .b-news-item__content p{
		color: #000;
	}	
	.b-stock-item .b-news-item__date__ico{
	    background: url(../images/calendar.svg) no-repeat;
	}	
	.b-news-item__content__wrap{
		position: static;
	}
}

@media (max-width: 767px) {
	.b-main{
		padding: 25px 10px;
	}
	.b-container{
		padding: 35px 0 0 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.b-header{
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 2002;
	    border-bottom: 1px solid #d8d6d6;
	}
	.b-logo__left span{
		font-size: 20px;
		line-height: 22px;
	}
	.b-user{
		margin: 0 5px 0 0;
	}
	.b-user-ico{
		margin: 0;
	}
	.b-user-wrap{
		display: none;
	}
	.b-alert{
		padding: 0;
		margin: 0 10px;
		border: none;
	}
	.b-mobile{
		margin: 0 0 0 10px;
	}
	.b-footer{
		display: block;
	}
	.b-footer-form{
		width: 100%;
		padding: 0;
		margin: 0 0 15px 0;
		border: none;
	}
	.b-text-container ol{
		display: block;
		margin: 15px 0;
	}
	.b-text-container ol li{
		width: 100%;
		padding: 0;
	}
	.b-main-col{
		width: 100%;
	}
	.b-round-info{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.b-round-info__item{
		margin: 5px 0 !important;
		border: none;
		justify-content: center;
		padding: 0;
	}
	.b-main-item__list__top{
		flex-wrap: wrap;
	}
	.b-main-item__list__top b{
		display: block;
		text-align: center;
		width: 100%;
		margin: 0 0 5px 0;
	}
	.b-main-item__list__right{
		width: 100%;
		justify-content: center;
	}
	.b-table{
		overflow: auto;
	}
	.b-table table{
		width: 768px;
	}
	.b-row{
		display: block;
	}
	.b-col{
		width: 100%;
	}
	.b-wrapper{
		padding: 25px 10px;
	}
	.b-program-col{
		width: 50%;
	}
	.b-step-top p{
		flex-shrink: 0;
	}
	.b-step-top span{
		font-size: 11px;
		line-height: 14px;
	}
	.b-item span{
		font-size: 11px;
		letter-spacing: inherit;
	}
	.b-item{
		width: 100% !important;
		margin: 0 0 10px 0;
	}
	.b-col__wrap .b-item{
		margin: 0 0 10px 0;
	}
	.b-col__wrap{
		flex-wrap: wrap;
	}
	.b-step-title b{
		font-size: 12px;
	}
	.items{
		flex-wrap: wrap;
	}
	.item{
		width: 290px;
		margin: 10px auto 0 !important;
	}
	.b-btns{
		flex-wrap: wrap;
	}
	.b-btn{
		margin: 10px;
	}
	.b-structure-top{
		display: block;
	}
	.b-structure-top__left{
		width: 100%;
		padding: 0;
		margin: 0 0 10px 0;
		border: none;
		text-align: center;
	}
	.b-structure-link{
		justify-content: center;
	}
	.b-structure-top__right__top{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.b-structure-top__right__top b{
		max-width: inherit;
		margin: 0 0 10px 0;
	}
	.b-agents{
		display: block;
	}
	.b-agents-content{
		flex-wrap: wrap;
	}
	.b-agents-btn{
		width: 170px;
		margin: 10px auto 0;
		display: block;
	}
	.b-agents-item{
		width: 290px;
		margin: 10px auto 10px;
		justify-content: center;
		border: none;
	}
	.b-search{
		display: block;
	}
	.b-search-item{
		justify-content: center;
		margin: 0 0 15px 0;
	}
	.b-structure-item__content{
		flex-wrap: wrap;
		justify-content: center;
	}
	.b-structure-item__col{
		width: 50%;
		margin: 5px 0;
		border: none;
	}
	.b-structure-item__col:first-child{
		width: 100%;
	}
	.b-structure-item__top{
		display: block;
	}
	.b-structure-item__btn{
		width: 160px;
		font-size: 14px;
		line-height: 16px;
	}
	.b-structure-item__wrap{
		margin: 10px 0 0 0;
	}
	.b-structure-item__blocks__col{
		width: 50%;
	}
	.b-structure-item__nav ul li a{
		width: 93px;
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
	}
	.b-contract-row__4{
		margin: 0;
	}
	.b-contract-item .b-structure-item__col{
		width: 50%;
		margin: 10px 0;
	}
	.b-contract-item  .b-structure-item__bottom .b-structure-item__col:first-child{
		width: 100%;
	}
	.b-contract-row__text b{
		font-size: 11px;
	}
	.b-contract-row__two{
		border: none;
	}
	.b-guide-col{
		width: 50%;
	}
	.b-guide-item{
		height: 145px;
	}
	.b-guide-item span{
		font-size: 12px;
		line-height: 14px;
	}
	.b-news-item{
		display: block;
	}
	.b-news-item__img{
		width: 290px;
		margin: 0 auto 15px;
	}
	.b-news-item__img img{
		margin: 0 auto 0;
	}
	.b-news-item__content{
		padding: 0;
		text-align: center;
		max-width: inherit;
	}
	.b-stock-item .b-news-item__content{
		position: static;
		max-width: inherit;
	}
	.b-stock-item{
		flex-direction: column-reverse;
		display: flex;
	}
	.b-stock-item img{
		width: 290px;
		margin: 0 auto 10px;
	}
	.b-stock-item:before{
		display: none;
	}
	.b-stock-item .b-news-item__content b, .b-stock-item .b-news-item__date span, .b-stock-item .b-news-item__content p{
		color: #000;
	}
	.b-stock-item .b-news-item__date__ico{
	    background: url(../images/calendar.svg) no-repeat;
	}
	.b-news-item__date{
		justify-content: center;
	}
	.b-news-item__content__wrap{
		position: static;
	}
	.b-top{
		flex-wrap: wrap;
	}
	.b-top__wrap{
		padding: 10px 0 0 0;
		border: none;
	}
	.b-generation-bottom{
		flex-wrap: wrap;
	}
	.b-generation-bottom__left{
		margin: 0 0 13px 0;
		display: block;
		width: 100%;
		text-align: center;
	}
	.b-generation-bottom__left span{
		margin: 0 0 6px 0;
	}
	.btn-copy{
		margin: 10px auto 10px;
	}
}
@media (max-width: 680px) {

}
@media (max-width: 510px){

}
@media (max-width: 445px) {

}
@media (max-width: 320px) {

}